<div class="main">
  <div class="row">
    <div class="col-4">
      <div class="back-button" [routerLink]="['/accounts']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span> Back</span>
      </div>
    </div>
    <div class="col-8">
      <h1>Account details</h1>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-lg-5 col-md-6 p-0">
        <div class="avatar">
          <img
            alt="avatar"
            class="avatar-card"
            [src]="
              account?.avatar
                ? account?.avatar
                : 'https://www.w3schools.com/howto/img_avatar.png'
            "
          />
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="card-body">
          <i class="fa fa-pen fa-xs edit"></i>
          <table>
            <tbody>
              <tr>
                <td>Account :</td>

                <td>{{ account?.account }}</td>
              </tr>
              <tr>
                <td>Name :</td>

                <td>{{ account?.name }}</td>
              </tr>
              <tr>
                <td>Day of birth :</td>

                <td>{{ account?.dob }}</td>
              </tr>
              <tr>
                <td>Gender :</td>

                <td>{{ account?.gender }}</td>
              </tr>
              <tr>
                <td>Address :</td>

                <td>{{ account?.address }}</td>
              </tr>
              <tr>
                <td>Email :</td>

                <td>{{ account?.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="button-group">
    <button class="btn rounded submit button--cancel" (click)="openDelete()">
      Delete
    </button>
    <button
      type="submit"
      class="btn btn-primary rounded submit button--save"
      (click)="openUpdate()"
    >
      Update
    </button>
  </div>
</div>
