<div class="container-fluid">
  <div class="wrapper">
    <div class="empty-data">
      <div class="row">
        <div class="col">
          <h1 class="float-start display-3 me-4">Oops</h1>
          <h4 class="pt-3">No any account !</h4>
          <p class="text-medium-emphasis float-start">
            Click the button below to create somes
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            (click)="openAdd('')"
            class="btn btn-primary px-4 my-4"
            routerLink=""
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
