<div class="container-fluid">
  <div class="wrapper">
    <div class="page-not-found">
      <div class="row">
        <div class="col">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-medium-emphasis float-start">
            The page you are looking for was not found.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary px-4 my-4" routerLink="">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
