<div class="modal-header">
  <h3 class="modal-title font-weight-bold">{{ action }} Account</h3>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="account-form">
    <div class="form-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="account"
              class="label"
              [class]="{
                'star-invalid':
                  f['account'].errors && (f['account'].touched || submitted)
              }"
              >Account :
              <span
                [class]="{
                  'star-invalid':
                    f['account'].errors ||
                    (f['account'].touched && f['account'].errors)
                }"
              >
                *
              </span>
            </label>
            <input
              type="text"
              id="account"
              class="form-control"
              formControlName="account"
              [class]="{
                'is-invalid':
                  f['account'].errors && (f['account'].touched || submitted)
              }"
            />
            <div
              *ngIf="f['account'].errors && (f['account'].touched || submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="f['account'].errors['required']">
                Account is required
              </div>
              <div *ngIf="f['account'].errors['pattern']">
                Account just contain letters (a-z), numbers (0-9)
              </div>
              <div
                *ngIf="
                  f['account'].errors['minlength'] ||
                  f['account'].errors['maxlength']
                "
              >
                Account must have exactly 8 characters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="name"
              class="label"
              [class]="{
                'star-invalid':
                  f['name'].errors && (f['name'].touched || submitted)
              }"
              >Name :
              <span
                [class]="{
                  'star-invalid':
                    f['name'].errors || (f['name'].touched && f['name'].errors)
                }"
              >
                *
              </span>
            </label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              [class]="{
                'is-invalid':
                  f['name'].errors && (f['name'].touched || submitted)
              }"
            />
            <div
              *ngIf="f['name'].errors && (f['name'].touched || submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="f['name'].errors['required']">Name is required</div>
              <div *ngIf="f['name'].errors['maxlength']">
                Name cannot be longer than 20 characters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="dob"
              class="label"
              [class]="{
                'star-invalid':
                  f['dob'].errors && (f['dob'].touched || submitted)
              }"
              >Day of birth :
              <span
                [class]="{
                  'star-invalid':
                    f['dob'].errors || (f['dob'].touched && f['dob'].errors)
                }"
              >
                *
              </span>
            </label>
            <div class="dob">
              <input
                id="dob"
                type="text"
                placeholder="YYYY-MM-DD"
                class="form-control"
                [minDate]="minDate"
                [maxDate]="maxDate"
                bsDatepicker
                formControlName="dob"
                [bsConfig]="datePickerOptions"
                [class]="{
                  'is-invalid':
                    f['dob'].errors && (f['dob'].touched || submitted)
                }"
              />
              <div
                *ngIf="f['dob'].errors && (f['dob'].touched || submitted)"
                class="invalid-feedback"
              >
                <div *ngIf="f['dob'].errors['required']">
                  Day of birth is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="gender"
              class="label"
              [class]="{
                'star-invalid':
                  f['gender'].errors && (f['gender'].touched || submitted)
              }"
              >Gender :
              <span
                [class]="{
                  'star-invalid':
                    f['gender'].errors ||
                    (f['gender'].touched && f['gender'].errors)
                }"
              >
                *
              </span>
            </label>
            <br />
            <div class="gender-radio">
              <div class="wrapper">
                <input
                  type="radio"
                  id="option-1"
                  checked
                  value="Male"
                  formControlName="gender"
                />
                <input
                  type="radio"
                  id="option-2"
                  value="Female"
                  formControlName="gender"
                />
                <label for="option-1" class="option option-1">
                  <div class="dot"></div>
                  <span>Male</span>
                </label>
                <label for="option-2" class="option option-2">
                  <div class="dot"></div>
                  <span>Female</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="address"
              class="label"
              [class]="{
                'star-invalid':
                  f['address'].errors && (f['address'].touched || submitted)
              }"
              >Address :
              <span
                [class]="{
                  'star-invalid':
                    f['address'].errors ||
                    (f['address'].touched && f['address'].errors)
                }"
              >
                *
              </span>
            </label>
            <input
              id="address"
              type="text"
              class="form-control"
              formControlName="address"
              [class]="{
                'is-invalid':
                  f['address'].errors && (f['address'].touched || submitted)
              }"
            />
            <div
              *ngIf="f['address'].errors && (f['address'].touched || submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="f['address'].errors['required']">
                Address is required
              </div>
              <div *ngIf="f['address'].errors['maxlength']">
                Address is over 200 letters
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label
              for="email"
              class="label"
              [class]="{
                'star-invalid':
                  f['email'].errors && (f['email'].touched || submitted)
              }"
              >Email :
              <span
                [class]="{
                  'star-invalid':
                    f['email'].errors ||
                    (f['email'].touched && f['email'].errors)
                }"
              >
                *
              </span>
            </label>
            <input
              id="email"
              type="email"
              class="form-control"
              formControlName="email"
              [class]="{
                'is-invalid':
                  f['email'].errors && (f['email'].touched || submitted)
              }"
            />
            <div
              *ngIf="f['email'].errors && (f['email'].touched || submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">
                Email format is invalid
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-button">
            <button
              class="form-control btn rounded submit form-button__cancel"
              (click)="activeModal.close('Close click')"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="form-control btn btn-primary rounded submit form-button__save"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
